/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* 

CSS Reset Ends
==============
*/

/* 

Webpage begins
==============

*/
/* Animation definitions */
@-webkit-keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -webkit-transform: translateY(-30px); }
	5% { opacity: 1; -webkit-transform: translateY(0px);}
    17% { opacity: 1; -webkit-transform: translateY(0px); }
	20% { opacity: 0; -webkit-transform: translateY(30px); }
	80% { opacity: 0; }
    100% { opacity: 0; }
}
@-ms-keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -ms-transform: translateY(-30px); }
	5% { opacity: 1; -ms-transform: translateY(0px);}
    17% { opacity: 1; -ms-transform: translateY(0px); }
	20% { opacity: 0; -ms-transform: translateY(30px); }
	80% { opacity: 0; }
    100% { opacity: 0; }
}
@keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -webkit-transform: translateY(-30px); transform: translateY(-30px); }
	5% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px);}
    17% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px); }
	20% { opacity: 0; -webkit-transform: translateY(30px); transform: translateY(30px); }
	80% { opacity: 0; }
    100% { opacity: 0; }
}

@keyframes rotateWordsSecond {
    0% { opacity: 1; animation-timing-function: ease-in; width: 0px; }
    10% { opacity: 0.3; width: 0px; }
    20% { opacity: 1; width: 100%; }
    27% { opacity: 0; width: 100%; }
    100% { opacity: 0; }
}

/* Body Text Begins */

html { 
	font-family: 'Neuton', serif;
	font-size: 40px;
	margin: 50px;
}

body {
	background-color: #FFF;
}

h1 {
	font-family: 'Montserrat', sans-serif;
	color: #FFF; 
	font-size: 2em;
	text-decoration: none;
	background-color:#000000; 
	padding: 5px;
	margin-top: 5px;
	text-align: center; 
	transition: background-color 2s;
    -moz-transition: background-color 2s;
    -webkit-transition: background-color 2s;
    -ms-transition: background-clor 2s;
    -o-transition: background-color 2s;
}

h1:hover 
	{
		background-color: #40A4BF;
	}

#contact {
	text-align: center;
	text-decoration: none;
}

a {
	color: #000000;
	text-decoration: none;
	text-align: center;
	font-size: 0.6em;
}

a:hover {
	color: #ff0000;
} 

#bio {
	padding: 20px;
	font-size: 0.5em;
}

#me {
	background-color: #000000;
	color: #FFF;
	margin-top: 10px;
	padding: 10px;
	padding-bottom: none;
	text-align: center;

}
#test {
	background-color: #40A4BF;
	color: #FFF;
	padding: 10px;	
	font-weight: bold;
	margin-bottom: 10px;
	text-align: center;
}
#headshot {
	float: center;
	max-width: 60%;
}
@media screen and (max-width:480px) {
	#headshot {
		display: none;
		}
}



/* Body Text Ends */
