/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html { 
	font-family: Helvetica;
	font-size: 40px;
	margin: 50px;
}

body {
	background-color: #FFF;
	font-size: 0.7em;
}

h1 {
	font-family: Tenor-Sans, sans-serif;;
	color: #FFF; 
	font-size: 2em;
	text-decoration: none;
	background-color:#000000; 
	padding: 5px;
	margin-top: 5px;
	text-align: center; 
	transition: background-color 2s;
    -moz-transition: background-color 2s;
    -webkit-transition: background-color 2s;
    -ms-transition: background-clor 2s;
    -o-transition: background-color 2s;
}
h1:hover 
	{
		background-color: #40A4BF
	}

h2 {
	font-style: italic;
	color: #FFF;
	font-weight: bold;
	text-align: center;
}

/* 

CSS Reset Ends
==============
*/

/* 

Webpage begins
==============

*/
/* Animation definitions */
@-webkit-keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -webkit-transform: translateY(-30px); }
	5% { opacity: 1; -webkit-transform: translateY(0px);}
    17% { opacity: 1; -webkit-transform: translateY(0px); }
	20% { opacity: 0; -webkit-transform: translateY(30px); }
	80% { opacity: 0; }
    100% { opacity: 0; }
}
@-ms-keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -ms-transform: translateY(-30px); }
	5% { opacity: 1; -ms-transform: translateY(0px);}
    17% { opacity: 1; -ms-transform: translateY(0px); }
	20% { opacity: 0; -ms-transform: translateY(30px); }
	80% { opacity: 0; }
    100% { opacity: 0; }
}
@keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -webkit-transform: translateY(-30px); transform: translateY(-30px); }
	5% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px);}
    17% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px); }
	20% { opacity: 0; -webkit-transform: translateY(30px); transform: translateY(30px); }
	80% { opacity: 0; }
    100% { opacity: 0; }
}

@keyframes rotateWordsSecond {
    0% { opacity: 1; animation-timing-function: ease-in; width: 0px; }
    10% { opacity: 0.3; width: 0px; }
    20% { opacity: 1; width: 100%; }
    27% { opacity: 0; width: 100%; }
    100% { opacity: 0; }
}

/* Body Text Begins */


#Bio {
	background-color: #FF0000;
	padding: 20px;
}

#me {
	background-color: #000000;
	color: #FFF;
	margin-top: 10px;
	padding: 10px;
	padding-bottom: none;
	text-align: center;

}
#test {
	background-color: #40A4BF;
	color: #FFF;
	padding: 10px;	
	font-family: Georgia;
	font-weight: bold;
	margin-bottom: 10px;
	text-align: center;

}

#contact {
	text-align: center;
}

a {
	color: #000000;
	text-decoration: none;
	text-align: center;
}

a:hover {
	color: #FFF;
} 

.rw-wrapper{
	width: 80%;
	position: relative;
	margin: 110px auto 0 auto;
	font-family: 'Bree Serif';
	padding: 10px;
}

h2 {
	margin: 0;
	text-align: left;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
}

h2 span{
	color: #444;
	white-space: nowrap;
	font-size: 200%;
	font-weight: normal;
}

.rw-words {
	display: inline;
	text-indent: 10px;
}

.rw-words li {
	position: absolute;
	opacity: 0;
	overflow: hidden;
	width: 100%;
	color: #6b969d;
}

.rw-words-1 span {
	animation: rotateWordsFirst 12s linear infinite 0s;
}
.rw-words-2 span{
    animation: rotateWordsSecond 12s linear infinite 0s;
}
.rw-words span:nth-child(2) { 
    animation-delay: 3s; 
    color: #6b889d;
}
.rw-words span:nth-child(3) { 
    animation-delay: 6s; 
    color: #6b739d; 
}
.rw-words span:nth-child(4) { 
    animation-delay: 9s; 
    color: #7a6b9d;

/* Body Text Ends */
